.panel.header{
    max-height: 40px;
}

div.menu{
    color: red;
}

div.down {
    width: auto;
    float: right;
}
ul {
    float: right;
}

ul.downup {
    z-index: 10;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    padding: unset;
}
.downup a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}
a.link {
    padding-left: 30px;
    color: white;
}

